<form class="form-horizontal" action="/create" method="post">
    <div class="card-body">
        <legend>Bitte gib einen URL ein!</legend>
        <div class="mb-3">
            <label for="url" class="form-label">URL</label>
            <input type="text" name="url" id="url" class="form-control">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Beschreibung</label>
            <input type="text" name="desc" id="desc" class="form-control">
        </div>
    </div>
    <div class="card-footer">
        <input type="submit" class="btn btn-primary" value="Eintragen!">
    </div>
</form>