<%- include('../partials/header') -%>

<div class="p-5 mb-4 bg-light rounded-3 ">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Link - Kürzer</h1>
      <p class="col-md-8 fs-4">Mit diesem Tool kanst du deine Links verkürzen.</p>
    </div>
</div>

<!-- <div class="card shadow" style="height: 110px;"> -->
<div class="card shadow" style="width: auto;">
    <img src="../../public/img/colorful-wall_sm1.png" class="card-img-top" alt="BauchMessen">
    <div class="card-body">
        <h5 class="card-title">Sie werden weitergeleitet ...</h5>
        <h4><%= url.url %></h4>
    </div>
    <div class="card-footer text-muted text-center">
        <p>&copy; 2022 ToniSun</p>
    </div>
</div>

<script>
    let url = "url.url"
</script>

<%- include('../partials/footer') -%>